.code-box {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 16px 0 16px 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(235, 237, 240);
  border-image: initial;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.2s ease 0s;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
}

.code-box-prev {
  padding: 24px 24px 0 24px;
}

.code-box-demo {
  padding: 24px 24px 40px;
  border-bottom: 1px solid rgb(235, 237, 240);
  color: rgba(0, 0, 0, 0.65);
  &.browser {
    padding: 24px 24px 32px;
  }
  &::after {
    display: block;
    height: 0;
    clear: both;
    content: ' ';
    visibility: hidden;
  }
}

.code-box-browser {
  position: relative;
  height: 520px;
  border-top: 2.6em solid rgba(230, 230, 230, 0.7);
  border-radius: 3px 3px 0 0;
  box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.28);
  &::before {
    position: absolute;
    top: -1.5em;
    left: 1em;
    display: block;
    width: 0.5em;
    height: 0.5em;
    background-color: #f44;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
    content: '';
  }
  &::after {
    position: absolute;
    top: -2em;
    left: 5.5em;
    display: block;
    width: calc(100% - 10em);
    height: 1.4em;
    background-color: white;
    border-radius: 2px;
    content: '';
  }
}

.code-box-meta {
  position: relative;
  width: 100%;
  padding: 18px 32px;
  border-radius: 0 0 4px 4px;
  font-size: 14px;
  transition: background-color 0.4s ease 0s;
  .code-box-title {
    position: absolute;
    top: -14px;
    padding: 1px 8px;
    margin-left: -8px;
    background: rgb(255, 255, 255);
    border-radius: 2px 2px 0 0;
    color: rgb(119, 119, 119);
    transition: background-color 0.4s ease 0s;
  }
  .code-box-desc {
    width: 94%;
    min-height: 24px;
    margin: 0;
    p {
      margin: 0;
      line-height: 2;
    }
    code {
      padding: 0.2rem 0.4rem;
      background-color: #fbe5e1;
      border-radius: 4px;
      color: #c0341d;
    }
  }
}
.code-expand-icon {
  position: absolute;
  right: 24px;
  bottom: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  transition: transform 0.3s;
}
.code-box-expand {
  .code-expand-icon {
    transform: rotate(180deg);
  }
}
.code-box-highlight {
  font-size: 16px;
  div[class*='language-'],
  pre,
  pre[class*='language-'] {
    margin: 0 !important;
    border-radius: 0 0 4px 4px !important;
  }
}
