*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Microsoft YaHei, Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
}

.sidebar {
  width: 18rem;
}

.page {
  padding-left: 18rem;
}

.page-edit,
.page-nav {
  max-width: 1024px !important;
}

[class^='el-'] {
  a {
    font-weight: normal;
  }
}

[class^='el-year-table'],
[class^='el-month-table'],
[class^='el-date-table'] {
  tr,
  th,
  td {
    padding: 0;
    border: none;
    line-height: initial;
  }

  tr {
    background-color: transparent;

    &:nth-child(2n) {
      background-color: transparent;
    }
  }

  width: 100%;
  margin: 0;
}

.theme-default-content:not(.custom) {
  max-width: 1080px !important;

  a:hover {
    text-decoration: none;
  }
}

.gitment-root-container {
  max-width: 1080px !important;
  padding: 2rem 2.5rem;
  margin: 0 auto;
}
